<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.jeremy.mapper.ItemsParamMapper">
  <resultMap id="BaseResultMap" type="com.song.jeremy.dbmodel.ItemsParam">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="produc_place" jdbcType="VARCHAR" property="producPlace" />
    <result column="foot_period" jdbcType="VARCHAR" property="footPeriod" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_address" jdbcType="VARCHAR" property="factoryAddress" />
    <result column="packaging_method" jdbcType="VARCHAR" property="packagingMethod" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="storage_method" jdbcType="VARCHAR" property="storageMethod" />
    <result column="eat_method" jdbcType="VARCHAR" property="eatMethod" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item_id, produc_place, foot_period, brand, factory_name, factory_address, packaging_method, 
    weight, storage_method, eat_method, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from items_param
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findItemsParamByModel" parameterType="com.song.jeremy.dbmodel.ItemsParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from items_param
    where 1 = 1
    <if test="itemId != null">
      and item_id = #{itemId,jdbcType=VARCHAR}
    </if>
    <if test="producPlace != null">
      and produc_place = #{producPlace,jdbcType=VARCHAR}
    </if>
    <if test="footPeriod != null">
      and foot_period = #{footPeriod,jdbcType=VARCHAR}
    </if>
    <if test="brand != null">
      and brand = #{brand,jdbcType=VARCHAR}
    </if>
    <if test="factoryName != null">
      and factory_name = #{factoryName,jdbcType=VARCHAR}
    </if>
    <if test="factoryAddress != null">
      and factory_address = #{factoryAddress,jdbcType=VARCHAR}
    </if>
    <if test="packagingMethod != null">
      and packaging_method = #{packagingMethod,jdbcType=VARCHAR}
    </if>
    <if test="weight != null">
      and weight = #{weight,jdbcType=VARCHAR}
    </if>
    <if test="storageMethod != null">
      and storage_method = #{storageMethod,jdbcType=VARCHAR}
    </if>
    <if test="eatMethod != null">
      and eat_method = #{eatMethod,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from items_param
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.song.jeremy.dbmodel.ItemsParam">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      useGeneratedKeys
    </selectKey>
    insert into items_param (id, item_id, produc_place, 
      foot_period, brand, factory_name, 
      factory_address, packaging_method, weight, 
      storage_method, eat_method, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{producPlace,jdbcType=VARCHAR}, 
      #{footPeriod,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{factoryName,jdbcType=VARCHAR}, 
      #{factoryAddress,jdbcType=VARCHAR}, #{packagingMethod,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      #{storageMethod,jdbcType=VARCHAR}, #{eatMethod,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.song.jeremy.dbmodel.ItemsParam">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      useGeneratedKeys
    </selectKey>
    insert into items_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="itemId != null">
        item_id,
      </if>
      <if test="producPlace != null">
        produc_place,
      </if>
      <if test="footPeriod != null">
        foot_period,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryAddress != null">
        factory_address,
      </if>
      <if test="packagingMethod != null">
        packaging_method,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="storageMethod != null">
        storage_method,
      </if>
      <if test="eatMethod != null">
        eat_method,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="producPlace != null">
        #{producPlace,jdbcType=VARCHAR},
      </if>
      <if test="footPeriod != null">
        #{footPeriod,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null">
        #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="packagingMethod != null">
        #{packagingMethod,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="storageMethod != null">
        #{storageMethod,jdbcType=VARCHAR},
      </if>
      <if test="eatMethod != null">
        #{eatMethod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.jeremy.dbmodel.ItemsParam">
    update items_param
    <set>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="producPlace != null">
        produc_place = #{producPlace,jdbcType=VARCHAR},
      </if>
      <if test="footPeriod != null">
        foot_period = #{footPeriod,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null">
        factory_address = #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="packagingMethod != null">
        packaging_method = #{packagingMethod,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="storageMethod != null">
        storage_method = #{storageMethod,jdbcType=VARCHAR},
      </if>
      <if test="eatMethod != null">
        eat_method = #{eatMethod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.jeremy.dbmodel.ItemsParam">
    update items_param
    set item_id = #{itemId,jdbcType=VARCHAR},
      produc_place = #{producPlace,jdbcType=VARCHAR},
      foot_period = #{footPeriod,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      factory_name = #{factoryName,jdbcType=VARCHAR},
      factory_address = #{factoryAddress,jdbcType=VARCHAR},
      packaging_method = #{packagingMethod,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      storage_method = #{storageMethod,jdbcType=VARCHAR},
      eat_method = #{eatMethod,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>